{% extends "../layouts/default.twig" %}

{% block intro %}
	{% set title = "(Альфа) Сайт Александра Мансурова" %}
	<h1>Добро пожаловать на сайт</h1>
{% endblock %}
{% block content %}
	<p>Ссылка на <a href="/blog">блог</a></p>
{% endblock %}
