{% extends "../layouts/default.twig" %}

{% block header %}
	{% set title = "(Альфа) Сайт Александра Мансурова" %}
	<header class="header">
		<h1 class="title">Александр Мансуров</h1>
		<p class="text">Фронтенд разработчик в <a href="http://idaproject.com" target="_blank" class="link">idaproject</a></p>
	</header>
{% endblock %}
{% block content %}
	<section class="projects">
		<h2 class="title">сделал</h2>
		{% for project in data.projects %}
			<a href="{{ project.url }}" target="_blank" class="link">{{ project.title }} </a>
		{% endfor %}
	</section>
{% endblock %}
