{% extends "../layouts/default.twig" %}

{% block content %}
<div class="main">
	<div class="wallpaper"></div>
	<div class="dock">
		<div class="dock__icon is-active dock__icon_notes"></div>
		<div class="dock__divider"></div>
		<a href="https://twitter.com/sashamjolnir" target="_blank" class="dock__icon dock__icon_twitter"></a>
	</div>
	<div class="photo">
		<img class="photo__image" src="https://pp.vk.me/c836528/v836528276/62f/e-I2i_OUFxQ.jpg" alt="Александр Мансуров.jpg" />
		<p class="photo__text">Александр Мансуров.jpg</p>
	</div>
</div>
{% endblock %}
