{% extends "../layouts/default.twig" %}

{% block header %}
	{% set title = "(Альфа) Сайт Александра Мансурова" %}
	<header class="index__header content">
		<h1>Уважаемые гости и владелец страницы</h1>
	</header>
{% endblock %}
{% block content %}
	<div class="content index__content">
		<p>Сайт находится на стадии разработки.</p>
		<p>Приносим извинения за оказанные неудобства.</p>
		<hr>
		<p>В данный момент ведутся работы над <a class="link" href="/blog">блогом</a></p>
	</div>
{% endblock %}
