{% extends "../layouts/default.twig" %}

{% block content %}
	<main class="intro">
		<h1 class="title intro__title">Александр<br>Мансуров</h1>
		<div class="text intro__text">
			<p>Разрабатываю сайты. Фронтенд разработчик в <a class="link" href="http://idaproject.com" target="_blank">Идапроджект</a>. Живу в Москве.</p>
			<p>Это мой сайт, здесь я экспериментирую с разными штуками и делюсь наблюдениями.</p>
		</div>
	</main>
{% endblock %}
