{% extends "../layouts/default.twig" %}

{% block header %}
	{% set title = "(Альфа) Сайт Александра Мансурова" %}
	<header class="header">
		<h1 class="header__title">Александр Мансуров</h1>
		<p class="header__subtitle">Фронтенд разработчик в <a href="http://idaproject.com" target="_blank" class="link">idaproject</a></p>
	</header>
{% endblock %}
{% block content %}
	<section class="links">
		<p>Сайт находится на стадии разработки.</p>
		<p>В данный момент ведутся работы над <a class="link" href="/blog">блогом</a></p>
	</section>
{% endblock %}
