{% extends "../layouts/default.twig" %}

{% block content %}
    <div id="root">
        <p>- Франциско, а кого ты считаешь самым порочным человеком?</p>
        <p>- Человека, у которого нет цели.</p>
    </div>
{% endblock %}
