{% extends "../layouts/default.twig" %}

{% block content %}
	<section class="lego">
		<div class="hair"></div>
		<svg class="face" viewBox="0 0 1200 539" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g>
        <path d="M0,180 L0,0 L1200,0 L1200,180 C1200,180 968.867666,174.7109 925.874634,108.926292 C877.204346,34.4547882 849.41394,99.1803513 752.043945,108.926292 C649.809704,119.159105 265.889025,-47.5978717 160.331451,108.926292 C115.772324,175 0,180 0,180 L0,180 Z"></path>
        <circle cx="440" cy="288" r="45"></circle>
        <circle cx="760" cy="288" r="45"></circle>
        <path d="M602.189218,538.346569 C700.163684,538.346564 784.039948,488.004706 760.723692,466.370829 C737.407436,444.736952 734.198638,510.445434 602.189212,510.445434 C470.179786,510.445435 465.926958,446.62303 443.654728,466.370829 C421.382499,486.118628 504.214752,538.346574 602.189218,538.346569 Z"></path>
      </g>
		</svg>
	</section>
{% endblock %}
