{% extends "../layouts/default.twig" %}

{% set title = 'Заметки Александра Мансурова' %}

{% block dock %}{% include "../blocks/dock.twig" with {'active': 'notes'} %}{% endblock %}

{% block content %}
<div class="window">
	<div class="window__header">
		<div class="window__circles">
			<div class="window__circle window__circle_red"></div>
			<div class="window__circle window__circle_yellow"></div>
			<div class="window__circle window__circle_green"></div>
		</div>
		{% include "../blocks/window-menu.twig" %}
		<p class="window__title">Заметки</p>
	</div>
	<div class="window__body">
		<div class="notes">
			<div class="notes__list is-active">
				{% for post in data.posts %}
					<a href="/notes/{{ post.slug }}" class="notes__list-element js-note">
						<p class="notes__list-title">{{ post.title }}</p>
						<p class="notes__list-date">{{ post._.publishedDate.format('D MMMM YYYY') }}</p>
					</a>
				{% endfor %}
			</div>
			<div class="notes__full"></div>
		</div>
	</div>
</div>
{% endblock %}
