{% extends "../layouts/default.twig" %}

{% block content %}
	<section class="projects">
    <h2 class="title projects__title">Сделал</h2>
		{% for project in data.projects %}
			<a href="{{ project.url }}" target="_blank" class="project" style="color: {{ project.color }};">{{ project.title }} </a>
		{% endfor %}
	</section>
{% endblock %}
