{% extends "../layouts/default.twig" %}

{% block header %}
	{% set title = "Работаю" %}
	<header class="header">
		<h1 class="header__title">Работаю</h1>
		<p class="header__subtitle">Фронтенд разработчик в <a href="http://idaproject.com" target="_blank" class="link">idaproject</a></p>
	</header>
{% endblock %}

{% block content %}
	<section class="projects">
		{% for project in data.projects %}
			<a href="{{ project.url }}" target="_blank" class="project{% if project.state == 'разработка' %} project_development{% endif %}" style="color: {{ project.color }}; border-color: {{project.color}};">{{ project.title }} </a>
		{% endfor %}
	</section>
{% endblock %}
