::selection {
  background: $color-main;
  color: white;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}
h1, h2, p {
  margin: 0;
}
.content {
  width: $width-blog;
  margin: 0 auto;
}
