::selection {
  background: $color-main;
  color: white;
}
.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex-grow: 1;
}
h1, h2, p {
  margin: 0;
}
.content {
  width: $width-blog;
  margin: 0 auto;
}
.link {
  text-decoration: none;
  border-bottom: 1px solid;
  transition: 0.1s ease;
  color: black;
  border-color: rgba(black, 0.3);
  &:hover {
    color: $color-main;
    border-color: rgba($color-main, 0.3);
  }
}
.footer {
  margin-top: 20px;
  margin-bottom: 20px;
}
