.index {
  background-color: $color-lego;
  height: 100vh;
  min-height: 700px;
}
.header {
  height: 180px;
  background-color: black;
  overflow: hidden;
}
.hair {
  height: 100%;
  background-color: $color-lego;
  position: relative;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.head {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.eyes {
  display: flex;
  justify-content: space-between;
}
.eye-svg {
  width: 90px;
  height: 90px;
  fill: black;
}
.mouth-svg {
  width: 325px;
  height: 77px;
  display: block;
  margin: 0 auto;
}
