.index {
  &__content {
    font-size: 16px;
    line-height: 1.5;
  }
}
.links {
  padding: 60px 10px 0;
  max-width: $max-width;
  margin: 0 auto;
  p {
    font-size: 16px;
    line-height: 1.5;
  }
}
.changelog {
  padding-top: 30px;
  li {
    font-size: 16px;
    line-height: 1.5;
    padding-top: 4px;
  }
}
