.lego {
  background-color: $color-lego;
  height: 100vh;
  min-height: 700px;
}
.hair {
  background-color: black;
  height: 180px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.face {
  max-width: 1200px;
  background-color: $color-lego;
  display: block;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}
