.projects {
  padding: 30px 10px 0;
  word-break: break-all;
}
.project {
  text-decoration: none;
  color: black;
  font-size: 6rem;
  font-weight: bold;
  border-bottom: 1px solid;
  transition: 200ms;
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}
