@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
		url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

$max-width: 700px;

$color-primary: #FFD102;
$color-secondary: #1245AA;
$color-helper: #6D0BAB;

$media-s: 500px;
$media-m: 960px;

@mixin respond-to($media) {
  @if $media == s {
    @media only screen and (max-width: $media-s) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $media-s + 1) { @content; }
  }
  @else if $media == m {
    @media only screen and (min-width: $media-s + 1) and (max-width: $media-m) { @content; }
  }
}
