@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
		url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

$width-blog: 700px;

$color-main: #1385e5;
