include ../mixins/flash-messages
 
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
    
    title= title || 'My Keystone Website'
        
    block css
    block head
  body
        
    #header My Keystone Website
        
    #body
      block intro      
      +flash-messages(messages)
      block content
        
    #footer Powered by <a href='http://keystonejs.com', target='_blank'>KeystoneJS</a>.
    
    block js
