{% import "../mixins/flash-messages.twig" as FlashMessages %}
{% spaceless %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>{{ title|default("Mansurov.me Beta") }}</title>
		<link rel="stylesheet" href="/css/main.css">
		{% block css %}{% endblock %}
		{% block head %}{% endblock %}
	</head>
	<body class="body">
		<main class="main">
			{% block header %}{% endblock %}
			{{ FlashMessages.renderMessages(messages) }}
			{% block content %}{% endblock %}
		</main>
		<footer class="footer">
			<p class="footer__copyright">Сайт работает на <a class="link" href="http://keystonejs.com/" target="_blank">Keystone JS</a></p>
		</footer>
		<script src="/js/main.js" type="text/javascript"></script>
		{% block js %}{% endblock %}
	</body>
</html>
{% endspaceless %}
