<div class="dock">
{% if active == 'notes' %}
  <div class="dock__icon dock__icon_notes is-active"></div>
{% else %}
  <a href="/notes" class="dock__icon dock__icon_notes"></a>
{% endif %}
  <div class="dock__divider"></div>
  <a href="https://twitter.com/sashamjolnir" target="_blank" class="dock__icon dock__icon_twitter"></a>
</div>
